[Unit]
Description=Learners gunicorn
After=network.target

[Service]
Type=notify
User={{ learners_user }}
Group={{ learners_group }}
WorkingDirectory={{ learners_basepath }}
EnvironmentFile=-{{ flask_service_environment }}
ExecStart={{ flask_service_execstart }}
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
