[Unit]
Description={{ flask_service.description }} daemon
Requires={{ flask_service.requires }}
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User={{ flask_service.user }}
Group={{ flask_service.group }}
RuntimeDirectory={{ flask_service.RuntimeDirectory }}
WorkingDirectory={{ flask_service.WorkingDirectory }}
ExecStart={{ flask_service.ExecStart }}
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target