---

learners:
{% if learners_theme is defined %}
  theme: "{{ learners_theme }}"
{% endif %}
{% if learners_branding is defined %}
  branding: "{{ learners_branding }}"
{% endif %}
{% if learners_language is defined %}
  language: "{{ learners_language }}"
{% endif %}
{% if learners_login_headline is defined %}
  login_headline: "{{ learners_login_headline }}"
{% endif %}
{% if learners_login_headline_highlight is defined %}
  login_headline_highlight: "{{ learners_login_headline_highlight }}"
{% endif %}
{% if learners_welcome_text is defined %}
  welcome_text: "{{ learners_welcome_text }}"
{% endif %}
{% if learners_login_text is defined %}
  login_text: "{{ learners_login_text }}"
{% endif %}

jwt:
  jwt_secret_key: "{{ learners_jwt_secret }}"
  jwt_for_vnc_access: False

database:
  db_uri: "{{ learners_db_uri }}"

venjix:
  auth_secret: "{{ learners_venjix_secret }}"
  url: "{{ learners_venjix_url }}"

documentation:
  directory: "{{ learners_documentation_path }}"
  endpoint: "{{ learners_documentation_endpoint }}"

exercises:
  directory: "{{ learners_exercises_path }}"
  endpoint: "{{ learners_exercises_endpoint }}"

callback:
  endpoint: "{{ learners_callback_endpoint }}"

novnc:
  server: "{{ learners_novnc_url }}"

{{ learners_users | to_nice_yaml(indent=2) }}
