---
learners:
  htpasswd: "/opt/learners/htpasswd"

jwt:
  jwt_secret_key: "{{ learners_jwt_secret }}"
  jwt_for_vnc_access: False

database:
  db_uri: "sqlite:///learners_tracker.db"

# mail:
#   server: ""
#   port: 587
#   username: ""
#   password: ""
#   tls: True
#   ssl: False

components:
  venjix_auth_secret: "{{ learners_venjix_secret }}"
  urls:
    venjix: "{{ learners_venjix_url }}"
    novnc: "{{ learners_novnc_url }}"
    callback: "{{ learners_url }}"
    documentation: "{{ learners_url }}/documentation"
    exercises: "{{ learners_url }}/exercises"
  {{ learners_users | to_nice_yaml }}
