---
jwt:
  jwt_secret_key: "{{ learners_jwt_secret }}"
  jwt_for_vnc_access: False

database:
  db_uri: "sqlite:///learners_tracker.db"

venjix:
  auth_secret: "{{ learners_venjix_secret }}"
  url: "{{ learners_venjix_url }}"

documentation:
  directory: "{{ learners_documentation_path }}"
  endpoint: "{{ learners_documentation_endpoint }}"

exercises:
  directory: "{{ learners_exercises_path }}"
  endpoint: "{{ learners_exercises_endpoint }}"

callback:
  endpoint: "{{ learners_callback_endpoint }}"

novnc:
  server: "{{ learners_novnc_url }}"

{{ learners_users | to_nice_yaml(indent=2) }}
