upstream app_server {
  server unix:{{ learners_socket_path }};
}

{% if learners_nginx_ssl_cert and learners_nginx_ssl_key %}
server {
  listen {{ learners_nginx_listen }};
  server_name {{ learners_server_name }};

  location / {
    return 301 https://$host$request_uri;
  }
}
{% endif %}

server {
{% if learners_nginx_ssl_cert and learners_nginx_ssl_key %}
  listen {{ learners_nginx_listen_ssl }};
  ssl_certificate     {{ learners_nginx_ssl_cert }};
  ssl_certificate_key {{ learners_nginx_ssl_key }};
{% else %}
  listen {{ learners_nginx_listen }};
{% endif %}

  server_name {{ learners_server_name }};
  root        {{ learners_wwwroot }};

  location / {
    proxy_pass http://app_server;
    include proxy_params;
  }

  location /static {
    try_files $uri $uri/ =404;
  }
}
